<?xml version="1.0" encoding="utf-8" ?>
<entityFramework>
	<contexts>
		<context type="BeautySaloon.DataAccess.BeautySaloonDbContext, BeautySaloonDbContext">
			<databaseInitializer type="BeautySaloon.DataAccess.BeautySaloonInitializer, BeautySaloonDbContext" />
		</context>
	</contexts>
	<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
		<parameters>
			<parameter value="v11.0" />
		</parameters>
	</defaultConnectionFactory>
	<providers>
		<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
	</providers>
</entityFramework>
